################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Resilient/obj
/src/.vs/ResilientHttpClient/v15
